<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>navbar}}
        <div class="container" style="margin-top: 70px;">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-auto">
                    <h1>404, Page not found</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card card-body" style="border: none;">
                        <div class="row">
                            <div class="col-4">
                                <img class="d-flex img-fluid" src="/img/oogway.png" alt="Master Oogway">
                            </div>
                        <div class="col-8">
                            <blockquote class="blockquote">
                                <p>You could have gone anywhere in this multiverse but you chose to come here.</p>
                                <footer class="blockquote-footer">Admin, <cite>NDC</cite></footer>
                            </blockquote>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <h4>Return to <a href="/">Home</a></h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row-content">
                <div class="col-12">
                </div>
            </div>
        </div>
        <footer class="footer">
            {{>footer}}
        </footer>
        <script src="/js/jquery.slim.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/logout.js"></script>
    </body>
</html>