.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px 0px 30px 0px;
}



.footer {
    margin: auto;
    padding: 20px 0px 20px 0px;
    bottom: 0px;
}

.navbar-dark{
    background-color: #512DA8;
}

body {
    z-index: 0;
    padding: 50px 0px 0px 0px;
}